@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #f7f7f7;
}
.header {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  /* margin-top: 50px; */
}
.header__logo {
  height: 150px;
  width: auto;
}
.login {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  margin-top: 50px;
  /* margin: 50px 0; */
  color: #7ca6d9;
}
.title span {
  color: #d91082;
}

.content__container {
  display: flex;
  justify-content: center;
}
.content__info {
  width: 300px;
  height: 50px;
  text-align: center;
  color: #d91082;
  font-size: 25px;
  font-weight: 700;
  border: solid 2px #7ca6d9;
  display: flex;
}

.video{
  width: 600px;
  height: 300px;
}



.buttons {
  display: flex;
  flex-direction: column;
  margin: 70px 10px;
}
.buttons button {
  /* background-color: #d91082; */
  border: solid 2px #d91082;
  color: #d91082;
  font-size: 25px;
  width: 200px;
  margin: 5px;
}


#one {
  display: none;
}
#two {
  display: none;
}
#three {
  display: none;
}
#four {
  display: none;
}

@media only screen and  (max-width: 600px) {
  .header__logo {
   height: 70px;
   justify-content: center;
  }
  .title {
    width: 300px;
  }
  .buttons {
    width: 300px;
  }
  .buttons button {
    width: 200px;
    display: inline-block;
  }
  .video {
    width: 300px;
    height: 200px;
  }
  .content__container {
    flex-direction: column;
    align-items: center;
  }
 }